.table {
    padding: 15px;
    width: 90%;
}

.container-table{
    width: 90%;
    font-size: 1.4rem;
    margin: 0 auto;  
    border-bottom: 1px solid; 
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    'num title price quantity total remove'
    ;
}

.title-1{
    grid-area: num;
}

.title-2{
    grid-area: title;
}

.title-3{
    grid-area: price;
}

.title-4{
    grid-area: quantity;
}

.title-5{
    grid-area: total;
}

.title-6{
    grid-area: remove;
}

.info-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px;
    border-bottom: 1px solid;
}
.icons > * {
    margin-right: 5px;
    cursor: pointer;
}

.container-table p{
    padding: 10px;
    margin: auto 0;
    color: black;
}

.summary {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card {
    padding: 1rem;
    margin: 10px 0;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: orangered;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px 0 ;
    border: 1px solid rgb(1, 1, 68);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

button:hover {
    background-color: rgb(1, 1, 68);
    color: #fff;
}

.clear-cart{
    margin: 0 20px;
}

.checkout{
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media screen and (max-width: 768px) {
    .container-table{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'num sn'
        'title image'
        'price mount'
        'quantity count'
        'total tmount'
        'remove rembtn'
        ;
    }

    .title{
        border: none;
        margin: auto 0;
    }

    .info-sn{
        grid-area: sn;
    }

    .info-image{
        grid-area: image;
    }

    .info-price{
        grid-area: mount;
    }

    .count{
        grid-area: count;
    }

    .info-total{
        grid-area: tmount;
    }

    .icons{
        grid-area: rembtn;
    }

    .container-table p{
        width: 100%;
    }

    .info-image{
        grid-area: image;
    }

    .card {
        margin: 10px 0;
    }

    .text {
        flex-direction: column;
    }

    .count {
        margin: 10px 0;
    }

    .clear-cart{
        margin: 0 auto;
    }

    .checkout{
        align-items: center;
    }

    .qty{
        font-size: 1rem;
    }

}
    
