.checkout {
    width: 100%;
}

.checkout h2{
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem auto;
}

.div-form {
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pay{
  width: 600px;
  height: 100%;
}
  
.card h3 {
    font-weight: 700;
}


label {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
}

.input,
  .select,
  .card-details {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        margin: 1rem auto;
        width: 100%;
        border: 1px solid #777;
        border-radius: 3px;
        outline: none;
      }


  /*  Payment Element styles */
  
  #payment-message {
    /* color: rgb(105, 115, 134); */
    color: red;
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
  }
  
  #payment-element {
    margin-bottom: 24px;
  }
  
  /* Buttons and links */
  .button {
    background: #5469d4;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
    /* position: relative; */
  }

  #button-text{
    color: #ffffff;
  }
  
  .button:hover {
    filter: contrast(115%);
  }
  
  .button:disabled {
    opacity: 0.5;
    cursor: default;
  } 


 @media screen and (max-width: 1200px) {
    
    .div-form {
        flex-direction: column;
    }
  }
  