.product-detail{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 30px;

}

.product-detail img{
    width: 30%;
    height: 500px;
    margin: 10px;
    object-fit: contain;
}

.info-detail{
    width: 90%;
    margin: 10px;
    padding: 20px;
}

.info-title{
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
    color: black;
}

.info-detail p{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #3b3939;
}

.product-info-btn{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.product-info-btn button{
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px 8px;
    margin: 10px 5px 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    color: #fff;
    background: #033468;
}

.detail-quantity{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 15px;
}

@media screen and (max-width: 768px){
    .product-detail{
        flex-direction: column;
        height: 100%;
    }

    .product-detail img{
        width: 100%;
        height: 300px;
    }

    .info-detail{
        width: 100%;
    }

    .product-info-btn{
        width: 100%;
    }
}
    

